<%= form_for(@issue) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>WhatsApp image upload example</strong>
  </p>

  <div class="field">
    <%= f.label :photo, 'Please send a picture to create your issue: '%>
    <%= f.file_field :photo, as: :file %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
