
<div class="col-xs-12 col-sm-offset-4 col-sm-4">
  <%= form_for(@issue) do |f| %>
    <% if @issue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
        <% @issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter title", value: "New Issue" %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control", id: "issue_address" %>
    </div>

<!--     <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control", id: "latitude", placeholder: "Latitude" %>
    </div>

    <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control", id: "longitude", placeholder: "Longitude" %>
    </div> -->

      <%= image_tag @issue.photo.url(:medium) %>
    <div class="actions">
      <%= f.submit class: "btn" %>

    </div>
  <% end %>
</div>
