<div class="container">
  <div class="row">
    <% issues_sorted = @issues.sort_by { |issue| -issue["votes"] } %>
    <% issues_sorted.each do |issue| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to (issue) do %>
          <div class="card" style="background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.8)), url(<%= 'issue.photo' %>);">
            <h2><%= issue.title.upcase %></h2>
            <h3><%= issue.votes %> Votes</h3>
          </div>
        <% end %>
      </div>
    <% end %>
      <div class="col-xs-12 col-sm-6">
      <%= link_to new_issue_path do %>
        <div class="card" id="new-project">
          <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
          <h2>ADD ISSUE NOW</h2>
        </div>
        <% end  %>
      </div>
  </div>
</div>
