
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
      <%= link_to '< Go back to overview', issues_path %>
      <div id="project_detail">
        <div>
          <h1><%= @issue.title.upcase %></h1>
        </div>
        <div>
          <%= 'image_tag @issue.photo.url(:medium)' %>
        </div>
        <div>
          <h4>Description</h4>
          <p><%= !@issue.description.nil? ? @issue.description : "No description" %></p>
          <h4>Address</h4>
          <p id='address'><%= !@issue.address.nil? ? @issue.address : "Unknown address" %></p>
          <h4>Votes</h4>
          <p id='vote-count'><%= !@issue.votes.nil? ? @issue.votes : "0 votes so far" %></p>
        </div>
        <div>
          <p class="button vote" id="issue-<%= @issue.id %>">Vote for this project</p>
          <a href='', id='share-link'>Click to copy link</a>
        </div>
      </div>
      <div id="map" style="width: 100%; height: 230px;"></div>
      <%= link_to 'Back', issues_path %>
      <% if user_signed_in? %>
        | <%= link_to 'Edit', edit_issue_path(@issue) %> |
        <td><%= link_to 'Destroy', issue_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type='text/javascript'>

    var link = document.getElementById("share-link");
    var geocoder = new google.maps.Geocoder();
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
    });

    link.addEventListener('click', function(event){
      event.preventDefault();
    }, {passive: true});

    new Clipboard('#share-link', {
      text: function(trigger) {
        alert('Link copied to clipboard!')
          return window.location.href;
      },
      passive: true
    });

    $("p[id*='issue-']").one( "click", function(elem) {
      var id = elem.target.id.replace('issue-','')
        var votes = parseInt($('#vote-count').text()) + 1
        $('#vote-count').text(votes + ' votes so far')
        $.ajax({
          url: '/issues/' + id + '/vote',
          method: 'POST'
        })

    });

    function geocodeAddress(geocoder, resultsMap) {
      var address = document.getElementById('address').innerHTML;
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
          });
        } else {
          console.log('Geocode was not successful for the following reason: ' + status);
        }
      });
    }

    geocodeAddress(geocoder, map);

  </script>
<% end %>
