<p id="notice"><%= notice %></p>

<%= link_to 'Find other Issues', issues_path %>

<a href='', id='share-link'>Share your URL</a>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <strong>Title:</strong>
        <%= @issue.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @issue.description %>
      </p>

      <p>
        <strong>Photo:</strong><br />
        <%= image_tag @issue.photo.url(:medium) %>
      </p>

      <%= link_to 'Edit', edit_issue_path(@issue) %> |
      <%= link_to 'Back', issues_path %>
    </div>
  </div>
</div>

<script>
var link = document.getElementById('share-link');
link.addEventListener("click", function(event){
    event.preventDefault();
});

new Clipboard('#share-link', {
    text: function(trigger) {
        alert('Link copied to clipboard!')
        return window.location.href;
    }
});
</script>
